block content

  a(
    class='openButton',
    id='openTrigger',
    href='#openBox1'
   ) Show Attributes
   
  div(
    class='open',
    id='openBox1',
    tabindex='-1',
    rolde='dialog'
  )
    div
      a(
        href='#',
        class='close',
        aria-label='Close'
      ) &times;
      p Pug.js makes your life easier and is really awesome!
